.widget-liukko-clock {
  text-align: center;
  padding: 0;
  background: #fff url('/assets/images/widget-liukko-clock/coffeemug.png') center top;

  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: transparent;
  }
}
