/**
 * This file contains all necessary CSS overrides/definitions for widget-weather-information
 *
 * And please don't attach any other CSS rules to this file.
 */
.widget-weather-information {
  margin-top: 15px;

  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8 {
    padding: 0
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

 .image {
   width: 140px;
   position: relative;
   top: -25px;
   left: -10px;
   margin-bottom: -60px;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
 }

  .temp {
    white-space: nowrap;
    
    h1 {
      display: inline-block;
      font-size: 48px;
    }

    span {
      position: relative;
      top: -15px;
      left: -3px;
      font-size: 26px;
    }
  }

  .location {
    margin-bottom: 15px;
  }

  .wind {
    padding-left: 15px;
    h1 {
      font-size: 20px
    }

    i {
      font-size: 24px;
    }
  }
}
