/**
 * This file contains all necessary CSS overrides/definitions for widget-worms-ladder.
 *
 * And please don't attach any other CSS rules to this file.
 */
.widget-worms-ladder {
  margin: 10px 25px 10px 15px;

  .title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  hr {
    margin: 10px 0 5px 0;
  }

  .number-input {
    width: 40px;
  }

  .text-input {
    width: 240px;
  }
}
