<div class="widget-worms-ladder">

    <h1 class="pull-left">Player ranking</h1>
    <h1 class="pull-right">won / played</h1>

    <div class="clearfix"></div>
    <hr />

    <div class="text-muted text-center"
        data-ng-if="players.length === 0"
    >
        <em>Oh noes, there isn't any data to show...</em>
    </div>

    <ol>
        <li data-ng-repeat="player in players | orderBy : '-gamesWon'" data-ng-dblclick="startEdit(player)">
          <div ng-hide="player.editmode">

            <span class="text-nowrap pull-right">
                {{player.gamesWon}} / {{player.gamesAttended}}

                <span data-ng-if="player.gamesAttended > 0">
                    ({{(player.gamesWon / player.gamesAttended) * 100 | number : 1}}%)
                </span>
            </span>

            <h1>
                {{player.playerName}}
            </h1>

          </div>
          <div ng-show="player.editmode">
            <input class="text-input" type="text" ng-model="playerUnderEdit.playerName" ng-keypress="$event.keyCode == 13 ? update(playerUnderEdit) : null" data-focus-on="focusMe"/>
            <input class="number-input" type="number" ng-model="playerUnderEdit.gamesWon" ng-keypress="$event.keyCode == 13 ? update(playerUnderEdit) : null"/>
            <input class="number-input" type="number" ng-model="playerUnderEdit.gamesAttended" ng-keypress="$event.keyCode == 13 ? update(playerUnderEdit) : null"/>
            <button data-ng-click="update(playerUnderEdit)">Save</button>
            <button data-ng-click="cancelEdit(player)">Cancel</button>
            <button data-ng-click="deletePlayer(player)">Delete</button>
          </div>
          <div class="clearfix"></div>
        </li>
      <li ng-show="shouldShowNewPlayerInputs()">
        <input class="text-input" type="text" ng-model="newPlayer.playerName" ng-keypress="$event.keyCode == 13 ? createPlayer(newPlayer) : null" placeholder="Add new..."/>
        <button data-ng-click="createPlayer(newPlayer)">Save</button>
      </li>

    </ol>

</div>
