<div class="widget-big-brother">

  <!-- 20 loossia -->
  <div class="loossi-map">
    <h3>Protacon Solutions Oy</h3>

    <h3>Loossit ({{loossit.length}})</h3>

    <div id="mapContainer" class="container">

      <div class="row">
        <div ng-repeat="loossi in loossit" class="loossi">

          <h4 ng-bind="loossi.name"></h4>

          <ul class="persons">
            <li class="btn {{person.in ? 'btn-success' : 'btn-danger'}}" ng-repeat="person in loossi.people">
              <span ng-bind="person.name"></span>
              <span> <i class="glyphicon glyphicon-ok" ng-show="person.in"></i></span>
              <span> <i class="glyphicon glyphicon-ban-circle" ng-show="!person.in"></i></span>
            </li>
          </ul>
        </div>

      </div>
    </div>


  </div>

</div>

