<div class="widget-big-brother">

  <div class="people">

    <h2 ng-bind="title">bb</h2>

    <div ng-repeat="loossi in loossit">

      <h3 ng-bind="loossi.name"></h3>

      <table class="table table-bordered-table-striped">
        <thead>
        <tr>
          <th>Henkilö</th>
          <th>Paikalla</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in loossi.people">
          <td ng-bind="person.name"></td>
          <td ng-bind="person.in"></td>
        </tr>
        </tbody>
      </table>

    </div>


  </div>


  <!-- 20 loossia -->
  <div class="loossi-map">
    <h3>Protacon Solutions Oy</h3>

  </div>


</div>

