/**
 * This file contains all necessary CSS overrides/definitions for widget-big-brother.
 *
 * And please don't attach any other CSS rules to this file.
 */
@import url('../css/bootstrap.min.css');

.widget-big-brother {
  margin: 15px;
  padding-top: 25px;
}

.loossi-map {
  background-color: #dbdbdb;
}

.empty {
  background-color: #FFFFFF;
}

.widget-big-brother h4 {
  text-align: center;
  font-size: 120%;
}

.loossi {
  font-size: 80%;
  float: left;
  border: 1px solid #99aba5;
  min-height: 180px;
  min-width: 100px;
  width: 11%;
  background-color: #2fd2db;
  padding: 5px;
}

.miniloossi {
  border: 1px solid #99aba5;
  min-height: 90px;
  background-color: #41ab71;
}

.persons {
  list-style-type: none;
  padding: 0;
}

.persons li {
  margin: 2px 0;
}

#mapContainer {
}
