/**
 * This file contains all necessary CSS overrides/definitions for widget-big-brother.
 *
 * And please don't attach any other CSS rules to this file.
 */
.widget-big-brother {
  margin: 15px;
  padding-top: 25px;
}

.loossi-map {
  min-height: 600px;
  background-color: #dbdbdb;
}


.loossi {
  border: 1px solid #99aba5;
  min-height: 180px;
  background-color: #2fd2db;
}

.miniloossi {
  border: 1px solid #99aba5;
  min-height: 90px;
  background-color: #41ab71;
}
