/**
 * This file contains all necessary CSS overrides/definitions for widget-big-brother.
 *
 * And please don't attach any other CSS rules to this file.
 */
$red: rgb(181,43,0);
$blue: rgb(61,116,170);
$green: rgb(84,170,61);
$yellow: rgb(229,156,0);

.widget-big-brother {
  margin: 0;
  padding-top: 0;
}

#mapContainer {
  position: relative;
  left: 20px;
  top: 10px;
}

.loossi-map {
  .btn {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 0;
    float: left;
  }

  .btn-danger {
    color: $red;
    background-color: transparent;
    font-weight: bold;
  }

  .btn-success {
    background-color: transparent;
    color: #333;
  }

  .col-sm-1 {
    width: 9.8% !important;
  }
  .col-sm-2 {
    width: 20.66% !important;
  }
  .col-sm-3 {
    width: 31.66% !important;
  }

}

.widget-big-brother h4 {
  text-align: center;
  font-size: 160%;
  width: 100%;
  background-color: rgb(12, 129, 200);
  margin: 0;
  color: #fff;


}

.loossi {
  font-size: 80%;
  background-color: #fff;
  min-height: 200px;
  margin: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  padding-bottom: 0px;

  .persons {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h4 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $blue;
    color: #fff;
  }

}

.it h4 {
  background-color: $green;
}

.support h4 {
  background-color: $green;
}

.management h4 {
  background-color: $red;
}

.meeting h4 {
  background-color: $yellow;
}

.persons {
  list-style-type: none;
  padding: 0;
}

.persons li {
  margin: 2px 0;
  clear: left;
}

.empty {
  opacity: 0;
}




.nikotupakoimaan {
  background: transparent;

  .panel-default {

    background: rgba(255,255,255,0.1);
  }
}
