<div class="message-admin-modal">
    <div class="modal-header">
        <i class="fa fa-times pull-right close"
            data-ng-click="close()"
        ></i>

        <h3 class="modal-title">Important messagez administration</h3>
    </div>

    <div class="modal-body">
        <tabset>
            <tab heading="Add new message">
                <div data-ng-include="'/frontend/board/widgets/widget-msg-viewer/modal-add.html'"></div>
            </tab>
            <tab heading="Existing messages">
                <div data-ng-include="'/frontend/board/widgets/widget-msg-viewer/modal-list.html'"></div>
            </tab>
        </tabset>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default pull-left"
            data-ng-click="close()"
        >
            Close
        </button>
    </div>
</div>