<div>


    <div class="dashboard-widget-area row"
        data-ui-sortable="sortableOptions"
        data-ng-model="widgets"
    >
        <div class="widget-container col-xs-4"
            data-widget
            data-ng-repeat="widget in widgets"
            data-ng-style="widget.containerStyle"
            data-ng-class="widget.containerClass"
        >
            <div class="widget panel panel-default">
                <div class="widget-header panel-heading">
                    <div class="pull-right widget-actions">
                        <i class="fa"
                            data-ng-click="widget.contentStyle.display = widget.contentStyle.display === 'none' ? 'block' : 'none'"
                            data-ng-class="{'fa-plus': widget.contentStyle.display === 'none', 'fa-minus': widget.contentStyle.display !== 'none' }"
                        ></i>

                        <i class="fa fa-cog"
                            data-ng-click="openWidgetSettings(widget);"
                            data-ng-if="!options.hideWidgetSettings"
                        ></i>

                        <i class="fa fa-times"
                            data-ng-click="removeWidget(widget);"
                            data-ng-if="!options.hideWidgetClose"
                        ></i>
                    </div>

                    <h3 class="panel-title">
                        <span class="widget-title"
                            data-ng-dblclick="editTitle(widget)"
                            data-ng-hide="widget.editingTitle"
                        >
                            {{widget.title}}
                        </span>

                        <form action="" class="widget-title"
                            data-ng-show="widget.editingTitle"
                            data-ng-submit="saveTitleEdit(widget)"
                        >
                            <input type="text" class="form-control"
                                data-ng-model="widget.title"
                            />
                        </form>
                    </h3>
                </div>

                <div class="panel-body widget-content"
                    data-ng-style="widget.contentStyle"
                ></div>

                <div class="widget-ew-resizer"
                    data-ng-mousedown="grabResizer($event)"
                ></div>

                <div class="widget-s-resizer"
                    data-ng-if="widget.enableVerticalResize"
                    data-ng-mousedown="grabSouthResizer($event)"
                ></div>
            </div>
        </div>
    </div>
</div>
