<div>
    <div id="settings-button" class="settings-button"
        data-ng-if="!options.hideToolbar"
    ></div>

    <div id="settings" class="btn-toolbar"
        data-ng-if="!options.hideToolbar"
    >
        <i class="fa fa-cog pull-right"
           data-ng-click="buttonsVisible = !buttonsVisible"
        ></i>

        <div class="setting-buttons"
            data-ng-show="buttonsVisible"
        >
            <div class="btn-group"
                data-ng-if="!options.widgetButtons"
            >
                <span class="dropdown"
                    data-on-toggle="toggled(open)"
                >
                    <button type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        Widgets

                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="widget in widgetDefs | orderBy: 'name'">
                            <a href="#" class="dropdown-toggle"
                                data-ng-click="addWidgetInternal($event, widget);"
                            >
                                {{widget.name}}
                            </a>
                        </li>
                    </ul>
                </span>
            </div>

            <div class="btn-group"
                data-ng-if="options.widgetButtons"
            >
                <button type="button" class="btn"
                    data-ng-repeat="widget in widgetDefs"
                    data-ng-click="addWidgetInternal($event, widget);"
                >
                    {{widget.name}}
                </button>
            </div>

            <button class="btn"
                data-ng-click="resetWidgetsToDefault()"
            >
                Default Widgets
            </button>

            <button class="btn"
                data-ng-if="options.storage && options.explicitSave"
                data-ng-click="options.saveDashboard()"
                data-ng-disabled="!options.unsavedChangeCount"
            >
                {{ !options.unsavedChangeCount ? "all saved" : "save changes (" + options.unsavedChangeCount + ")" }}
            </button>

            <button type="button" class="btn"
                data-ng-click="clear();"
            >
                Clear
            </button>
        </div>
    </div>

    <div class="dashboard-widget-area row"
        data-ui-sortable="sortableOptions"
        data-ng-model="widgets"
    >
        <div class="widget-container col-xs-4"
            data-widget
            data-ng-repeat="widget in widgets"
            data-ng-style="widget.containerStyle"
            data-ng-class="widget.containerClass"
        >
            <div class="widget panel panel-default">
                <div class="widget-header panel-heading">
                    <div class="pull-right widget-actions">
                        <i class="fa"
                            data-ng-click="widget.contentStyle.display = widget.contentStyle.display === 'none' ? 'block' : 'none'"
                            data-ng-class="{'fa-plus': widget.contentStyle.display === 'none', 'fa-minus': widget.contentStyle.display !== 'none' }"
                        ></i>

                        <i class="fa fa-cog"
                            data-ng-click="openWidgetSettings(widget);"
                            data-ng-if="!options.hideWidgetSettings"
                        ></i>

                        <i class="fa fa-times"
                            data-ng-click="removeWidget(widget);"
                            data-ng-if="!options.hideWidgetClose"
                        ></i>
                    </div>

                    <h3 class="panel-title">
                        <span class="widget-title"
                            data-ng-dblclick="editTitle(widget)"
                            data-ng-hide="widget.editingTitle"
                        >
                            {{widget.title}}
                        </span>

                        <form action="" class="widget-title"
                            data-ng-show="widget.editingTitle"
                            data-ng-submit="saveTitleEdit(widget)"
                        >
                            <input type="text" class="form-control"
                                data-ng-model="widget.title"
                            />
                        </form>
                    </h3>
                </div>

                <div class="panel-heading widget-header-large"
                    data-ng-if="widget.showTitle"
                >
                    <h3 class="panel-title">
                        <span class="widget-title">
                            {{widget.title}}
                        </span>
                    </h3>
                </div>

                <div class="panel-body widget-content"
                    data-ng-style="widget.contentStyle"
                ></div>

                <div class="widget-ew-resizer"
                    data-ng-mousedown="grabResizer($event)"
                ></div>

                <div class="widget-s-resizer"
                    data-ng-if="widget.enableVerticalResize"
                    data-ng-mousedown="grabSouthResizer($event)"
                ></div>
            </div>
        </div>
    </div>
</div>
