.modal {
  .modal-dialog {
    .modal-content {
      .modal-header,
      .modal-footer {
        padding: 10px;
        background-color: #f8f8f8;
      }

      .modal-header {
        border-radius: 6px 6px 0 0;

        h3 {
          margin: 0;
          font-size: 20px;
        }

        .close {
          margin: 0;
        }
      }

      .modal-body {
      }

      .modal-footer {
        border-radius: 0 0 6px 6px;
      }
    }
  }
}