<div class="btn-group btn-group-vertical">
  <button class="btn btn-success " ng-disabled="!canReservePoo" ng-click="reserveToilet(2, false)" class="btn btn-lg">Kakattaa (7 minuuttia)</button>
  <button class="btn btn-success" ng-disabled="!canReservePee" ng-click="reserveToilet(1, false)" class="btn btn-lg">Pissattaa (2 minuuttia)</button>
  <button class="btn btn-success" ng-disabled="!canReservePoo" ng-click="reserveToilet(2, true)" class="btn btn-lg">Nakkisuoja (15+ minuuttia)</button>
  <button class="btn btn-success" ng-disabled="!canReservePoo" ng-click="reserveDouble()" class="btn btn-lg">Tuplana <3 (2 minuuttia)</button>
</div>
