<div>
    <div class="row">
        <div class="col-xs-12">
            <button ng-disabled="!canReservePoo" ng-click="reserveToilet(2)" class="btn btn-lg">Varaa paska</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button ng-disabled="!canReservePee" ng-click="reserveToilet(1)" class="btn btn-lg">Varaa kusi</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button ng-disabled="!canReservePoo" ng-click="reserveToilet(2)" class="btn btn-lg">Nakkisuoja</button>
        </div>
    </div>
</div>