@import "../styles/mixins";

#settings {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 350px;

  i {
    color: #787878;
    font-size: 36px;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  .setting-buttons {
    display: inline-table;

    .btn {
      margin: 0 5px;
    }
  }
}

.remove-layout-icon {
  margin-top: 2px;
  margin-left: 5px;
}

.widget-container {
  padding-bottom: 30px;
  &.widget-no-resize {
    .widget-ew-resizer,
    .widget-s-resizer {
      display: none;
    }
  }

  .widget {
    @include box-shadow(1px, 1px, 10px, #333);
    border: 0;
    border-radius: 0;
    margin: 0;

    &:hover {
      .widget-header {
        display: block;
      }

      .widget-content {
        opacity: .25;

        &:hover {
          opacity: 1;
        }
      }
    }

    .widget-header {
      line-height: 1;
      position: absolute;
      width: 100%;
      display: none;
      z-index: 1;
      cursor: move;

      .widget-actions {
        i {
          cursor: pointer;
          margin-left: 5px;
          opacity: .3;
          font-size: 20px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .widget-header-large {
      height: 45px;
      line-height: 45px;
      background-color: #e59c00;
      color: #ffffff;
      border-bottom: none;
      border-radius: 0;

      .panel-title {
        font-size: 18px;
        line-height: 25px;
      }
    }

    .widget-content {
    }
  }

  .dashboard-simple-list {
    h4 {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding-right: 5px;
      border-bottom: 1px solid #dedede;
    }

    li {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
